#title{
    text-align: right;
    width: 100%;
}

body{
    background-image: url("../images/Background2.jpg");
    background-size: cover;
    color: white;
}

@media only screen and (max-width: 1000px) {

}