#title{
    text-align: right;
    width: 100%;
}

body{
    background-image: url("../images/Background2.jpg");
    background-size: cover;
    color: white;
}

.top, .bottom{
    margin: .5% 0;
}

#displayOptions{
    text-align: center;
}

#displayFighters{
    text-align: center;
}

#displayCharacter{
    text-align: right;
}

#button-attack{
    margin: 50px 0 50px 0;
}

#displayEnemy{
    text-align: left;
}

@media only screen and (max-width: 1250px) {
    body{
        background-image: url("../images/Background-Phone.jpg");
    }
    
}